.profile-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color-main);
  padding-top: 85px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.profile-wrap {
  width: 700px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--font-color-main);
  padding-bottom: 20px;
}
.user-img {
  width: 200px;
  height: 200px;
}

.user-details {
  display: flex;
  gap: 70px;
  width: 700px;
  justify-content: flex-start;
}

.user-info {
  text-align: left;
}

.user-info-title {
  color: rgb(168, 168, 168);
}

.info-wrap {
  list-style: none;
  line-height: 2;
  padding: 0;
}
.info-wrap li {
  display: flex;
  gap: 20px;
}

.info-wrap li :first-child {
  width: 70px;
}

.user-title {
  text-align: left;
  text-transform: capitalize;
}
