.homeContainer {
  background-color: var(--bg-color-main);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  width: 80%;
}

.btns-wrap {
  display: flex;
  gap: 10px;
}

.welcome {
  font-size: 72px;
  color: var(--font-color-main);
}
