.homeContainer {
  background-color: var(--bg-color-main);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.welcome {
  font-size: 72px;
  color: var(--font-color-main);
}
